{{!-- this is meant to be a general page to be copied for each individual page. Idk how we're gonna do one main one
but we can figure that out --}}
<h1>
    {{title}}
</h1>
<main>
<ul>
    {{#each data.team}}
    <ul>
    <li class="team_name">{{this.name}}</li>
    <li class="team_status">{{this.status}}</li>
    <li class="team_game">{{this.game}}</li>
    {{!-- figure out how to get users out of database later this is 100% wrong --}}
    <ul>
        {{#each data.users}}
        <li class="team_player">{{this.nickname}} - {{this.firstName}} {{this.lastName}}</li>
        {{/each}}
    </ul>
    </ul>
    {{/each}}
</ul>
</main>