<div class="page-container">
    <img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620963762/Promo_Photos_A/11.jpg" id="landing-banner" alt="Stevens Esports Banner">
    <div class="main" style="margin-top: -550px;">
        <div id="aboutUs">
            <div class="container width--wide">
                <h1>Who are we?</h1>
                <hr>
                <p>
                    Stevens Esports was founded in the Fall of 2018 by Anna 'annalog' Brown and Tarquin 'BrazenBike' Bennett.
                    We began as a small student lead organization boasting primarily Overwatch teams with 40 players. Since then, 
                    we have expanded to 8 Collegiate Esport titles with over 60 dedicated players competing under our banner.
                </p>
                <p>
                    We are proud to be the centralized hub of competitive gaming at Stevens Institute of Technology. We strive to 
                    provide our community with a positive and safe environment to perform at the highest level and be exposed to 
                    career opportunities within the industry of esports.
                </p>
                <br>
            </div>
            <div class="container width--wide">
                <h1>E-Board Members</h1>
                <hr>
                <div class="staff-grid">
                    {{#each staff}}
                    <div class="staff">
                        <img style="width: 200px;" src="{{this.avatar}}" alt="{{this.firstName}} {{this.lastName}}">
                        {{#if this.firstName}}
                            {{#if this.nickname}}
                                {{#if this.lastName}}
                                    <h1>{{this.firstName}} "{{this.nickname}}" {{this.lastName}}</h1>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                        {{#if this.role}}
                        <h2>{{this.role}}</h2>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
