<div class="page-container">
    <img id="landing-banner" src="https://res.cloudinary.com/stevens-esports/image/upload/v1620963771/Promo_Photos_A/6.jpg" alt='Stevens Esports Banner'>
    <div class="main"
        style="background-image: none; margin-top: -500px; background-color: white; padding-top: 0;">
        <div class="team-filters">
            <div class="banner_container">
                <a class="team_filter" href="/schedule"><img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620962778/logos/all_logo.png" alt="All Matches"></a>
                {{#each game}}
                <a class="team_filter" href="/schedule/{{this.title}}"><img src={{this.img}} alt="{{this.title}}"></a>
                {{/each}}
                {{!-- <a class="team_filter" href="/schedule/1"><img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620962778/logos/league_logo_2.png" alt="League of Legends Matches"></a>
                <a class="team_filter" href="/schedule/2"><img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620962777/logos/csgo_logo.png" alt="Counter-Strike: Global Offensive Matches"></a>
                <a class="team_filter" href="/schedule/3"><img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620962778/logos/valorant_logo.png" alt="Valorant Matches"></a>
                <a class="team_filter" href="/schedule/4"><img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620962777/logos/overwatch_logo.png" alt="Overwatch Matches"></a>
                <a class="team_filter" href="/schedule/5"><img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620962777/logos/hearthstone_logo.png" alt="Hearthstone Matches"></a>
                <a class="team_filter" href="/schedule/6"><img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620962777/logos/rocket_league_logo.png" alt="Rocket League Matches"></a>
                <a class="team_filter" href="/schedule/7"><img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620962777/logos/r6_logo.png" alt="Rainbow Six: Siege Matches"></a>
                <a class="team_filter" href="/schedule/8"><img src="https://res.cloudinary.com/stevens-esports/image/upload/v1620962777/logos/cod_logo.png" alt="Call of Duty Matches"></a> --}}
            </div>
        </div>
        <div class="body_content">
            <div class="tab_container">
                <button id="upcoming" class="parallelogram">
                    <span class="skew-fix">Upcoming</span>
                </button>
                <button id="results" class="parallelogram">
                    <span class="skew-fix">Results</span>
                </button>
            </div>
            {{!-- Depending on which tab is selected the other div element would be hidden --}}
            <div class="unresolved_matches">
                <div class="match_listings">
                    {{#each umatch}}
                    <div class="match">
                        {{!-- icon will show what game the match is for, ie LoL, Valorant, etc.
                        match date would show the date/time the match starts,
                        match info would have names of both teams in the match
                        match link would take you to a vod if available or it could be another page with more detailed
                        info --}}
                        <span class="match_icon">
                            <img src={{this.game}}>
                        </span>
                        <span class="match_date">{{this.date}}</span>
                        <div class="match_info">
                            <span class="team1">{{this.team1}}</span>
                            <span class="versus">VS</span>
                            <span class="team2">{{this.team2}}</span>
                        </div>
                        <div class="match_link">
                            <a href="">Details</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="resolved_matches">
                <div class="match_listings">
                    {{#each rmatch}}
                    <div class="match">
                        {{!-- icon will show what game the match is for, ie LoL, Valorant, etc.
                        match date would show the date/time the match starts,
                        match info would have names of both teams in the match
                        match link would take you to a vod if available --}}
                        <span class="match_icon">
                            <img src={{this.game}}>
                        </span>
                        <span class="match_date">{{this.date}}</span>
                        <div class="match_info">
                            <span class="team1">{{this.team1}}</span>
                            <span class="versus">{{this.teamScore}} - {{this.opponentScore}}</span>
                            <span class="team2">{{this.team2}}</span>
                        </div>
                        <div class="match_link">
                            <a href="">Details</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
