<header id="header">
    <div class="container">
        <!--<button id="mobile-menu__trigger" class></button>-->
        <a href="/" class="header-logo"><img src="/public/assets/Logos/logo_color.png" alt="Stevens Esports Logo"></a>
        <nav id="header-menu" class="">
            <div class="menu-main-nav-container">
                <ul id="menu-main-nav" class="menu">
                    <li class="menu-item">
                        <a href="/schedule">Match Schedule</a>
                    </li>
                    <li class="team-dropdown">
                        <a target="" onclick="dropdown()" class="dropdownButton">Rosters ▼</a>
                        <div class="sub-menu-list" id="team-list">
                            <span class="team">
                                <a href="#"><img src="/public/assets/Logos/league_logo.png" alt="League of Legends Red Team">League of Legends Red</a>
                            </span>
                            <span class="team">
                                <a href="#"><img src="/public/assets/Logos/league_logo.png" alt="League of Legends Gray Team">League of Legends Gray</a>
                            </span>
                            <span class="team">
                                <a href="#"><img src="/public/assets/Logos/league_logo.png" alt="Overwatch Red Team">Overwatch Red</a>
                            </span>
                            <span class="team">
                                <a href="#"><img src="/public/assets/Logos/league_logo.png" alt="Hearthstone Red Team">Hearthstone Red</a>
                            </span>
                        </div>
                        <!-- .sub-menu-list -->
                    </li>
                    <li class="menu-item">
                        <a href="/team-sign-up">Team Registration</a>
                    </li>
                    <li class="menu-item">
                        <a href="/login">Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- .container -->
</header>
<!-- .header -->
<div class="page-container">
    <img id="landing-banner" src="/public/assets/Promo_Photos_A/6.jpg" alt='Stevens Esports Banner'>
    <div class="main"
        style="background-image: none; margin-top: -500px; background-color: white; padding-top: 0;">
        <div class="team-filters">
            <div class="banner_container">
                <a class="team_filter" href="/schedule"><img src="/public/assets/Logos/all_logo.png" alt="All Matches"></a>
                <a class="team_filter" href="/schedule/1"><img src="/public/assets/Logos/league_logo_2.png" alt="League of Legends Matches"></a>
                <a class="team_filter" href="/schedule/2"><img src="/public/assets/Logos/csgo_logo.png" alt="CounterStrike: Global Offensive Matches"></a>
                <a class="team_filter" href="/schedule/3"><img src="/public/assets/Logos/valorant_logo.png" alt="Valorant Matches"></a>
                <a class="team_filter" href="/schedule/4"><img src="/public/assets/Logos/overwatch_logo.png" alt="Overwatch Matches"></a>
                <a class="team_filter" href="/schedule/5"><img src="/public/assets/Logos/hearthstone_logo.png" alt="Hearthstone Matches"></a>
                <a class="team_filter" href="/schedule/6"><img src="/public/assets/Logos/rocket_league_logo.png" alt="Rocket League Matches"></a>
                <a class="team_filter" href="/schedule/7"><img src="/public/assets/Logos/r6_logo.png" alt="Rainbow Six: Siege Matches"></a>
                <a class="team_filter" href="/schedule/8"><img src="/public/assets/Logos/cod_logo.png" alt="Call of Duty Matches"></a>
            </div>
        </div>
        <div class="body_content">
            <div class="tab_container">
                <button class="upcoming parallelogram">
                    <span class="skew-fix">Upcoming</span>
                </button>
                <button class="results parallelogram">
                    <span class="skew-fix">Results</span>
                </button>
            </div>
            {{!-- Depending on which tab is selected the other div element would be hidden --}}
            <div class="unresolved_matches">
                <div class="match_listings">
                    {{#each umatch}}
                    <div class="match">
                        {{!-- icon will show what game the match is for, ie LoL, Valorant, etc.
                        match date would show the date/time the match starts,
                        match info would have names of both teams in the match
                        match link would take you to a vod if available or it could be another page with more detailed
                        info --}}
                        <span class="match_icon">
                            {{!-- <img src={{this.icon_image}}></img> --}}
                            {{this.game}}
                        </span>
                        <span class="match_date">{{this.date}}</span>
                        <div class="match_info">
                            <span class="team1">{{this.team1}}</span>
                            <span class="versus">VS</span>
                            <span class="team2">{{this.team2}}</span>
                        </div>
                        <div class="match_link">
                            <a href="">Details</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="resolved_matches">
                <div class="match_listings">
                    {{#each rmatch}}
                    <div class="match">
                        {{!-- icon will show what game the match is for, ie LoL, Valorant, etc.
                        match date would show the date/time the match starts,
                        match info would have names of both teams in the match
                        match link would take you to a vod if available --}}
                        <span class="match_icon">
                            {{!-- <img src={{this.icon_image}}> --}}
                            {{this.game}}
                        </img></span>
                        <span class="match_date">{{this.date}}</span>
                        <div class="match_info">
                            <span class="team1">{{this.team1}}</span>
                            <span class="versus">{{this.teamScore}} - {{this.opponentScore}}</span>
                            <span class="team2">{{this.team2}}</span>
                        </div>
                        <div class="match_link">
                            <a href="">Details</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>