<div class="page-container">
    <div class="main">
        <div class="player-profile">
            <div class="profile-info">
                <img class="profile-pic" style="padding: 0;" src="{{player.avatar}}" alt="Profile Picture">
                <h2 class="nickname">{{player.nickname}}</h2>
                {{#if player.isCaptain}}
                <h3 class="captain">Team Captain</h3>
                {{/if}}
                {{#unless player.isStarter}}
                <h3 class="sub">Substitute Player</h3>
                {{/unless}}
                {{#if player.position}}
                <h3 class="position">Position: {{player.position}}</h3>
                {{/if}}
                <h3 class="bio">Biography: </h3>
                {{#if player.biography}}
                <p class="bio">{{player.biography}}</p>
                {{else}}
                <p class="bio">No biography.</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>