<div class="page-container">
    <div class="main">
        <div class="player-profile">
            <div class="profile-info">
                <img class="profile-pic" style="padding: 0;" src="{{player.avatar}}" alt="Profile Picture">
                <h2 class="nickname">{{player.firstName}} "{{player.nickname}}" {{player.lastName}}</h2>
                <hr style="min-width: 400px; margin: 0;">
                {{#if player.activePlayers}}
                    {{#each player.activePlayers}}
                        {{#if this.team}}
                        <h3 class="activeTeam">{{this.team}}</h3>
                        {{/if}}
                        {{#if this.isCaptain}}
                        <h3 class="captain">Team Captain</h3>
                        {{/if}}
                        {{#unless this.isStarter}}
                        <h3 class="sub">Substitute Player</h3>
                        {{/unless}}
                        {{#if this.position}}
                        <h3 class="position">Position: {{this.position}}</h3>
                        <hr style="min-width: 400px; margin: 0;">
                        {{/if}}
                    {{/each}}
                {{else}}
                <p class="bio">Not an active player on any team.</p>
                {{/if}}
                <h3 class="bio">Biography: </h3>
                {{#if player.biography}}
                <p class="bio">{{player.biography}}</p>
                {{else}}
                <p class="bio">No biography.</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>