<div class="page-container">
    <div class="main">
        <div class="player-profile">
            <div class="profile-info">
                <img class="profile-pic" style="padding: 0;" src="{{user.avatar}}" alt="Profile Picture">
                <h2 class="nickname">{{user.nickname}}</h2>
                <h2 class="fullname">{{user.firstName}} {{user.lastName}}</h2>
                <h2 class="discordtag" style="margin-top: 0;">{{user.discordtag}}</h2>
                <hr style="min-width: 400px; margin: 0;">
                <h3 class="email">Email:</h3>
                <p class="email">{{user.email}}</p>
                <h3 class="username">Username:</h3>
                <p class="username">{{user.username}}</p>
                <h3 class="bio">Biography:</h3>
                {{#if user.biography}}
                <p class="bio">{{user.biography}}</p>
                {{else}}
                <p class="bio">No biography.</p>
                {{/if}}
                <a class="edit" href="/edit-profile">Edit Profile Information</a>
                <a class="edit" href="/change-password">Change Password</a>
                <a id="delete" class="edit">Delete Account</a>
                <div id="deleteWindow" class="deleteModal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Are you sure you want to delete your account?</h2>
                        </div>
                        <div class="modal-body">
                            <a class="edit">Yes, I want to delete the account.</a>
                            <a class="edit" href="/user-profile">No, I don't want to delete the account.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>