<h1>{{player.nickname}}</h1>

<img src={{player.avatar}}>

<h2>{{player.firstName}} {{player.lastName}}</h2>

{{#if player.isCaptain}}
<p>Captain</p>
{{/if}}

{{#unless player.isStarter}}
<p>Substitute Player</p>
{{/unless}}


<p>{{player.position}}</p>
<p>{{player.biography}}</p>

